@import "mods/head";
body{
  background: #f4f5f7;
  font-size: 0.85em;
  line-height: 1.375em;
  color: #666;
}

.page{
	width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
	overflow: hidden;
}

.nav{
  height: 36px;
  line-height: 36px;
  z-index: 3;
  background: -webkit-linear-gradient(top, #dd1144 0%,#dd1144 44%,#cc0033 100%);
  // background: -webkit-linear-gradient(top, #ddd 0%,#ededed 44%,#eee 100%);
  border-bottom: 1px solid #d14;
}

.flip{
  position: relative;
  height: 100%;
  margin-left: -120px;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-transition-duration:.2s;
  -webkit-transition-timing-function:linear;
}

.sidebar{
  // background: #f4f5f7;
  color: #fff;
  z-index: 1;
  position: relative;
  border-right: 1px solid #ddd;
  h3{
    background: #333;
  }
  .slide{
    background-color: rgba(34, 34, 34, 0.9);
  }
}

.screen{
  top: 30px;
  width: 100%;
  background: #ededed;
  z-index: 1;
}
.slide{
  z-index: 1;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}
