meta(charset="utf-8")
//不允许用户点击屏幕放大浏览
meta(name="viewport", content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0;")
//允许全屏模式浏览
meta(content="yes", name="apple-mobile-web-app-capable")
//指定顶部状态栏颜色
meta(content="black", name="apple-mobile-web-app-status-bar-style")
//禁止手机号自动高亮
meta(content="telephone=no", name="format-detection")
//禁止邮箱自动高亮
meta(content="email=no", name="format-detection")
title WebApp测试
link(rel="stylesheet", type="text/css", href="assets/css/app.css")
script(type="text/javascript", src="assets/js/base/zepto.min.js")
script(type="text/javascript", src="assets/js/base/touch.js")
script(type="text/javascript", src="assets/js/base/iscroll.js")
script(type="text/javascript", src="assets/js/base/swipeview.js")
script(type="text/javascript", src="assets/js/app.js")